/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin-top: 25px;
  margin-left: 8%;
  margin-right: 8%;
  padding: 0;
  box-sizing: border-box;
}

.container img {
  width: 100%; /* Les images remplissent leur conteneur */
  align-content: center;
  height: auto; /* Maintient les proportions */
}

.titre {
  font-size: 3vw;
}

.container div {
  padding-left: 25px;
  width: 100%; 
  height: 100%;
}

.container button {
  color: white;
  background-color: red;
  border-radius: 15px;
  border: none;
  height: 40px;
  width: 80px;
}

.voir-plus-button {
  color: white;
  background-color: red;
  border-radius: 10px;
  border: none;
  right: 5%;
  left: auto;
}


.text-container {
  display: flex;
  flex-direction: line; /* Empile les textes verticalement */
  gap: 10px; /* Espacement entre les textes */
}

/* div */
.image-container div {
  width: 100%; /* Les images remplissent leur conteneur */
  align-content: center;
  height: auto; /* Maintient les proportions */
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Images */
.image-container img {
  width: 100%; /* Les images remplissent leur conteneur */
  align-content: center;
  height: auto; /* Maintient les proportions */
  position: relative;
  z-index: 15;
}

/* paragraphe */
.image-container p {
  position:absolute;
  padding: 2%;
  top: 20%;
  height: 18%;
  width: 96%;
  z-index: 50;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-container button {
  position: absolute;
  width: 20%;
  top: 35%;
  right: 5%;
  left: auto;
  z-index: 55;
  border-radius: 10px; /* Coins arrondis */
  color: white;
  background-color: darkgray;
}

/* Grille pour grand écran (3 colonnes) */
@media (min-width: 1024px) {

  .header-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .header-container img {
    width: 90%; /* Les images remplissent leur conteneur */
    align-content: left;
    height: auto; /* Maintient les proportions */
  }

  .container {
    display: grid;
    grid-template-columns: 0.9fr 2.1fr;
    align-items: center;
    justify-items: center;
    padding: 2%;
  }

  .image-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid; /* Utilisation de Grid Layout */
    gap: 50px; /* Espacement entre les images */
    position: relative;
    z-index: 5;
  }

  .site-desc {
    visibility: visible;
    color: white;
    margin-top: 12%;
    font-size: 3vw;
  }

  .button-visibility {
    display: none;
  }

  .centrage {
    text-align: left;
  }

  .display-1-2 {
    display: flex;
  }

  .display-3-4 {
    display: flex;
  }

  .display-5-6 {
    display: flex;
  }

}

/* Grille pour tablette (2 colonnes) */
@media (min-width: 601px) and (max-width: 1023px) {

  .header-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .header-container img {
    width: 90%; /* Les images remplissent leur conteneur */
    align-content: left;
    height: auto; /* Maintient les proportions */
  }

  .container {
    display: grid;
    grid-template-columns: 0.9fr 2.1fr;
    align-items: center;
    justify-items: center;
    padding: 2%;
  }

  .image-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid; /* Utilisation de Grid Layout */
    gap: 50px; /* Espacement entre les images */
    position: relative;
    z-index: 5;
  }

  .site-desc {
    visibility: visible;
    color: white;
    margin-top: 12%;
    font-size: 3vw;
  }

  .button-visibility {
    visibility: visible;
  }

  .centrage {
    text-align: left;
  }

  .display-1-2 {
    display: flex;
  }

  .display-3-4 {
    display: flex;
  }

  .display-5-6 {
    display: none;
  }

}

/* Grille pour téléphone (1 colonne) */
@media (max-width: 600px) {

  .header-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .header-container img {
    width: 90%; /* Les images remplissent leur conteneur */
    align-content: center;
    height: auto; /* Maintient les proportions */
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    padding: 2%;
  }

  .image-container {
    grid-template-columns: 1fr;
    display: grid; /* Utilisation de Grid Layout */
    gap: 50px; /* Espacement entre les images */
    position: relative;
    z-index: 5;
  }

  .site-desc {
    visibility: hidden
  }
  
  .button-visibility {
    visibility: visible;
  }

  .centrage {
    text-align: center;
  }

  .display-1-2 {
    display: flex;
  }

  .display-3-4 {
    display: none;
  }

  .display-5-6 {
    display: none;
  }
}

.logo {
  background-color: rgb(123, 155, 175);
  border-style: solid;
  border-color: black;
}

.cadre-noir {
  border-style: solid;
  border-color: black;
}

.content {
  position: relative;
  z-index: 10;
}

.h2 {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 5%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 3px solid #000;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text_and_menu {
  display: grid;
  grid-template-columns: 0.4fr 2.6fr;
}

