/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.text-container {
  display: flex;
  flex-direction: line; /* Empile les textes verticalement */
  gap: 10px; /* Espacement entre les textes */
}

.image-container {
  display: grid; /* Utilisation de Grid Layout */
  gap: 50px; /* Espacement entre les images */
  padding: 50px;
}

/* Images */
.image-container img {
  width: 100%; /* Les images remplissent leur conteneur */
  height: auto; /* Maintient les proportions */
  border: 1px solid #ddd; /* Optionnel : bordure pour distinguer les images */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optionnel : ombre */
}

/* Images */
.image-container div {
  width: 100%; /* Les images remplissent leur conteneur */
  height: auto; /* Maintient les proportions */
  border: 1px solid #ddd; /* Optionnel : bordure pour distinguer les images */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optionnel : ombre */
}

/* Grille pour grand écran (3 colonnes) */
@media (min-width: 1024px) {
  .image-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .site-desc {
    visibility: visible;
  }

  .button-visibility {
    visibility: hidden;
  }
}

/* Grille pour tablette (2 colonnes) */
@media (min-width: 769px) and (max-width: 1023px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .site-desc {
    visibility: visible;
  }

  .button-visibility {
    visibility: visible;
  }
}

/* Grille pour téléphone (1 colonne) */
@media (max-width: 768px) {
  .image-container {
    grid-template-columns: 1fr;
  }
  
  .container {
    flex-direction: column;
    align-items: center; /* Centre les éléments */
    text-align: center; /* Centre le texte */
  }

  .site-desc {
    visibility: hidden
  }
  
  .button-visibility {
    visibility: visible;
  }
}

.logo {
  background-color: grey;
}

.padding {
  padding: 20px;
}

.centrage {
  padding: 20px;
  text-align: center;
}